/* Add CSS Styling */
.odd {
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color: #ffc0cb;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

.font-24 {
    font-size: 24px;
}

#fourth {
    background-color: #008000;
    font-weight: 700;
}